pandas 
matplotlib 
hid 
djitellopy 
pycryptodome 
scikit-learn 
stable-baselines3 
gym 
numpy 
scipy 
pywt 
pynput 
sklearn 
time 
os 
logging 
signal 
argparse 
datetime 
collections 
torch 
queue 
random 
mne
